<div class="section-bio">
  <div class="container">
    <div class="section-two">
      <div class="card-product">
      <!--   trio 48 -->
        <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="rounded-circle"/> -->
        <img src="/assets/Trio48"/>
        <div class="card-product-infos">
          <h2>Jan Damitz</h2>
          <p>Obwohl Jan eigentlich etwas ordentliches gelernt hat (nähmlich Lokomotivschlosser), hielt ihn dies nicht davon ab, Schauspieler zu werden.
          Jan absolierte die externe Schauspielausbildung "Ernst Busch" in Berlin und erlangte 1994 die staatliche Buehnenreife.</p>
          <p>Seitdem arbeitet Jan als freier Schauspieler, Sänger, Vorleser und Sprecher u.a. im Landestheater Parchim, Theatersommer Netzeband, sowie auch für Film und Fernsehen. 2009 gründete er Meine Herrn.
          </p>
        </div>
      </div>

      <div class="card-product carl">
      <!--   trio 48 -->
        <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="rounded-circle"/> -->
        <img src="/assets/Trio47"/>
        <div class="card-product-infos">
          <h2>Carl Kossmer</h2>
          <p>Carl ist der Mann für die ganz großen Instrumente und der Kontrabassist bei den Herrn. Er studierte Jazz-Kontrabass am Prins Claus Conservatorium in Groningen zog 2013 als firsch gebackener Bachelor of Music nach Berlin. Seitdem arbeitet er mit vielen verschiedenen Musikern zusammen, u.a. Ickar Flyer und Alice Phoebe Lou, und spielt entweder Kontrabass oder E-Bass in verschiedenen musikalischen Projekten. Seit 2017 ist er bei den Herrn dabei.
          </p>
        </div>
      </div>

      <div class="card-product">
      <!--   trio 48 -->
        <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="rounded-circle"/> -->
        <img src="/assets/Trio44"/>
        <div class="card-product-infos">
          <h2>Lars Breitinger</h2>
          <p>Nachdem Lars schon in seiner Kindheit von Steve Morse, Jimmy Page und Stevie Ray Vaughan beeinflusst wurde, begann er 2010 an der Hochschule Osnabrück E-Gitarre im Fachbereich Popularmusik zu studieren. Mit dem Abschluss in der Tasche machte er sich auf nach Berlin und ist seitdem als Session-, Live- und Studiogitarrist in verschiedensten Projekten aus dem Rock, Pop und Jazzbereich aktiv. Seit 2020 ist er Gitarrist bei „Meine Herr’n!“

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
