<!-- Just an image -->
<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
  </a>
</nav> -->


<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
 <!--  <a class="navbar-brand" href="#">
    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
  </a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#about">Die Herr'n</a>
      <a class="nav-item nav-link" href="#programms">Programme</a>
      <a class="nav-item nav-link" href="#music">Töne & Medien</a>
      <a class="nav-item nav-link" href="#references">Referenzen</a>
      <a class="nav-item nav-link" href="#contact">Kontakt</a>


    </div>
  </div>
</nav>
