<!--
<div class="banner" style="background-image: url('<#%= image_path 'trio40.png' %>')"> -->
<div class="banner">
  <div class="caption">
    <h3>Zwei großartige Musiker</h3>
    <h3>Ein singender Schauspieler</h3>
    <div class="welcome">
      <h3>Herzlich wilkommen bei Meine Herr’n!</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="section section-one">
    <div class="one-text">
      <h4>Ob Konzert oder Gala, ob Bühne oder Hausmusik; erleben Sie mit Jan Damitz , Lars Breitinger und Carl Kossmer einen Abend voller Jazz, Blues, Swing, Lyrik, Witz und Melancholie. Musik der 20er bis 50er Jahre: Freuen Sie sich auf Lieder voll feiner Ironie über Liebe, Berge, Sehn-Süchte, Südseeinseln, Haustiere, Berlin und …</h4>

      <h4>Dazwischen gibt‘s Erlebtes und Erfundenes, mit Niveau und auch mal knapp darunter; voller Charme, Esprit und Seele führt Jan Damitz Sie durch den Abend.<br>
      Tauchen Sie ein und lassen Sie sich überraschen!
      </h4>
    </div>
  </div>
</div>




