<!--
<div class="banner" style="background-image: url('<#%= image_path 'trio40.png' %>')"> -->
<div class="banner">
  <div class="caption">
    <h3>Zwei großartige Musiker</h3>
    <h3>Ein singender Schauspieler</h3>
    <h3>Herzlich wilkommen bei Meine Herr’n!</h3>
  </div>
</div>
