body, html {
  height: 100%;
}

.banner {
  /* The image used */
  background-image: url("trio38.png");
  opacity: 0.9;

  /* Full height */
  height: 90%;

  /* Center and scale the image nicely */
  position: relative;
  // opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: left;
  justify-content: center;
}

.banner h1 {
  // font-family: "Montserrat";
  font-size: 20px;
  font-weight: bold;
  color: rgb(250, 250, 250);
  text-shadow: 3px 3px 10px #1B2432;
  text-align: right;
}

.banner h3 {
  // font-family: "Montserrat";
  margin-right: 20px;
  font-size: 40px;
  font-weight: bold;
  color: rgb(250, 250, 250);
  text-shadow: 3px 3px 10px #1B2432;

}
.caption {
  position: absolute;
  margin-top: 60px;
  // left: 300px;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #000;
}

.welcome {
  position: absolute;
  margin-top: 150px;
  // left: 50px;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #000;
}








// .banner {
//     position: relative;
//   // opacity: 0.65;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;



//   height: 700px;
//   width: 100%;

//   display: flex;
  // flex-wrap: wrap;
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: center;
  // overflow: hidden;



