 .btn-bio {
  display: inline-block;
  border-radius: 34px;
  background: transparent;
  color: white;
  padding: 12px 12px;
  // font-weight: bold;

  // opacity: 0.8;
  // font-family: $banner;
  font-family: 'Comfortaa';
  font-size: 20px;

 }

 .btn:hover {
  background: transparent;
  color: white;
  border: 1.5px solid white;
 }
