.section-black {
  background-color: black;
}

.section-one {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;

}
.one-heading {
//   font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px gray;
  color: white;
  padding-bottom: 10px;
  opacity: 0.9;
}

// .one-heading h1 {
//   font-family: "Comfortaa" !important;
// }
.one-text p {
  font-size: 26px;
  line-height: 1.13;
  color: white;
  font-weight: lighter !important;
  font-family: "Darker Grotesque" !important;
  opacity: 0.7;
}

.section-bio {
  background-color: #f9f9f9;
  // background-image: linear-gradient(to bottom right, #9F0400 , #FEA533);
// background-image: linear-gradient(to bottom right, #FEA533, #9F0400 );
}

.section-two {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.section-programms {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}

.programm-header h1 {
  font-weight: bold;
  text-shadow: 1px 1px 3px gray;
  color: black;
  padding-bottom: 10px;
  // font-size: 40px;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px gray;
  // color: black;
  // padding-bottom: 10px;
  // opacity: 0.9;
  // font-family: "Comfortaa"
}

.programms-header h3 {
  // font-size: 15px;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px gray;
  // color: black;
  // padding-bottom: 10px;
  // opacity: 0.9;
  // font-family: "Comfortaa"
}
